// Primary Colors:-
$back-red: hsl(0, 100%, 74%);
$btn-green: hsl(154, 59%, 51%);
$org-white: hsl(225, 100%, 100%);

// Secondary Colors:-
$btn-blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%); 
$grayish-blue: hsl(246, 25%, 77%);

// font-weights:-
$font-sm: 300;
$font-md: 400;
$font-lg: 500;
$font-xl: 600;
